*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}
body{
    background: #283965;

}

#aaru{
    fill-opacity: 0;
    stroke: #ffffff;
    stroke-width: 3em;
    stroke-dashoffset: 0;
    stroke-dasharray: 1000;
}

#thisis{
   fill-opacity: 100;
   color: #fff;
 
}

#aaru {
    animation: aaru 6s ease-in-out;

}

@keyframes aaru{
    0%{
        stroke-dashoffset: 1000;
        stroke-width: 0.2;
    
    }
    100%{
        stroke-dashoffset: 0;
    }
}